Makefile
*.cbp
*.workspace
*.make
*.qbs
*.rc
*.vcxproj
*.vcxproj.*
*.dll
*.exp
*.pdb
*.exe
*.ilk
*.lib


obj/
bin/data/project*/

buildLog
runLog

*.mp4
*.png

bin/zypit
bin/Zypit
bin/zypit_debug
bin/Zypit_debug
bin/data/.gitkeep
bin/libs/

